*{
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    height: 1500px;
}
.header{
    width: 100%;
    height: 80px;
    background-color:#6f42c1;
}
.header .left{
    width: 600px;
    height:50px;
    margin-left: 30px;
}
.header .left ul li{
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 1.1rem;
}
.header .left ul li a{
    text-decoration: none;
    color:#f8f9fa;
}
.header .left .one a{
    font-size: 2rem;
}
.header .left .one #B{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    margin-top: -20px;
}
.header .left .one #B a{
    color: aqua;
}
.header .left .two a{
    color: aqua;
}
.header .left li:hover a{
    color: brown;
}
.header .right img{
    width: 30px;
    height: 30px;
}
.header .right{
    width: 500px;
    height:50px;
    float: right;
    padding-bottom: 40px;
    margin-top:-48px;
    margin-right: -50px;
}
.header .right ul li{
    list-style: none;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 1.1rem;
}
.header .right #XZBoot a{
    color: chocolate;
    text-decoration: none;
}
.header .right #XZBoot{
    width: 140px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    line-height: 50px;
    margin-top: -20px;
}
.header .right ul li:hover{
    color: floralwhite;
}
#select{
    appearance:none;
}
.middle{
    position: absolute;
    width: 100%;
    height: 60%;
    /*margin: 80px auto 0px;*/
}

.stack img{
    float: right;
    width: 500px;
    height: 440px;
    margin-right: 480px;
    margin-top: 90px;
}
.mitext{
    position: absolute;
    width: 23%;
    height: 80%;
    margin-left: 460px;
    margin-top: 90px;
}
.mitext h2{
    color: #6f42c1;
    font-size: 3rem;
}
.mitext p{
    font-size: 1.3rem;
}
.ksrm{
    width: 180px;
    height: 80px;
    border: 1px solid #6f42c1;
    text-decoration: none;
    font-size: 1.4rem;
}
.xzboot{
    width: 260px;
    height: 80px;
    border: 1px solid #6f42c1;
    text-decoration: none;
    font-size: 1.4rem;
}

.middle1{
    width: 100%;
    height: 700px;
    margin: 650px 0 0;
}
.anzhuang,.BootstrapCDN,.guanfang{
    float: left;
    width: 33.2%;
    height: 700px;
    border: 1px solid #ffffff;
    background-color: rgba(220,220,220,0.25);
}
.anzhuang h2,.BootstrapCDN h2,.guanfang h2{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 2rem;
}
.anzhuang p,.BootstrapCDN p,.guanfang p{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 15px;
    font-size: 1.3rem;
}
.BootstrapCDN p.nt{
    overflow-x:auto;
    white-space: nowrap;
    color: rgba(255,2,255,0.6);
}
.guanfang img{
    width: 100%;
}
.anzhuang span{
    margin-left: 30px;
    color: aqua;
}
.one1{
    width: 200px;
    height: 50px;
    border: 1px solid deepskyblue;
    margin-left: 30px;
    border-radius: 5px;
}
.one1:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
.one1 p{
    text-align: center;
    margin: 7px 15px;
}
.one1 a{
    text-decoration: none;
    color:deepskyblue ;
}
.one1:hover a{
    color: #6f42c1;
}
.BootstrapCDN a{
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgba(220,220,220,0.25);
}
.footer li{
    list-style: none;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
    color: #6f42c1;
}
.two2{
    width: 100%;
}
.footer p{
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
}

/* css 注释说明：设置了浏览器宽度不大于1820px时 */
@media screen and (max-width: 1820px) {
    .middle{
        position: absolute;
        width: 100%;
    }
    .stack img{
        float: right;
        width: 500px;
        /*height: 220px;*/
        margin-right: 120px;
        margin-top: 50px;
    }
    .mitext{
        position: absolute;
        width: 23%;
        height: 80%;
        margin-left: 320px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1170px) {
    .middle{
        position: absolute;
        width: 100%;
    }
    .stack img{
        position: absolute;
        width: 300px;
        height: 220px;
        margin-left: 320px;
        margin-top: 40px;
    }
    .mitext{
        position: absolute;
        width: 30%;
        height: 40%;
        margin-left: 320px;
        margin-top: 300px;
        overflow-y: auto;
        overflow-x: auto;
    }
}

/*@media screen and (max-width: 1480px) {*/
    /*.guanfang img{*/
        /*width: 100%;*/
    /*}*/
/*}*/